<div id="aboutWrapper" class="flexRow justify-content-center cnt-padding-medium">
    <div id="aboutContent" class="flexRow justify-content-center">

        <div id="about-head" class="flexRow">
            <div id="contact" class="flexRow">
                <div id="githubIcon">
                    <a href="https://github.com/jonsilver99">
                        <img src="{{Baseurl}}/assets/GitHub-lit.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/yoni.zilberstein.3">
                        <img id="facebookIcon" src="{{Baseurl}}/assets/facebook.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="{{Baseurl}}/assets/Yonatan Silverstein - CV.docx">
                        <img id="cvIcon" src="{{Baseurl}}/assets/cv2.png" alt="">
                    </a>
                </div>
            </div>
            <div id="myPic">
                <img src="{{Baseurl}}/assets/meAndChup.jpg" alt="">
            </div>
            <div id="title">
                <div>
                    <h1>J()HN SILVERSTEIN</h1>
                    <h2>Fullstack {{'{'}}Coder{{'}'}}</h2>
                </div>
            </div>
        </div>
        <div id="about-body" class="flexRow">
            <div id="leftCol" class="column">
                <h4>Hi There!</h4>
                <p>
                    This is a B2B client relations management app I made to showcase some of my angular-5 skills. The
                    App uses latest <span> <img id="meanPng" src="{{Baseurl}}/assets/mean-stack.png" alt=""></span> editions. 
                </p>
                <h5>Features</h5>
                <ul>
                    <li>Mean stack (mongo, express, angular, node)</li>
                    <li>JWT sessions & validation</li>
                    <li>Mongoose schemas</li>
                    <li>A debounce function (lazy loading)</li>
                    <li>AWS S3 integration</li>
                    <li>Flexobx layout</li>
                </ul>
            </div>
            <div id="midCol" class="column">
                <h4>Usage</h4>
                <p>
                    Register as a new Company, and Login.
                </p>
                <p>
                    Or
                </p>
                <p>
                    Use the company username '8888', password '8888' to login right away.
                </p>
                <p>
                    Once logged-in you can view your customers, send them invoices and
                    redeem invoices you already sent.  
                </p>
                <p>
                    You can also view all the other companies in the system, and subscribe as their customer. 
                    If you do so - they will be able to send you invoices.
                </p>
                <p>
                    Finally - you can view and pay for invoices sent to you by the companies you are customer of.
                </p>
            </div>
            <div id="rightCol" class="column">
                <h4>Also check</h4>
                <p>
                    These other apps from my portfolio:
                </p>
                <ul>
                    <li>
                        <a href="https://js-mp3-player.herokuapp.com">MP3 - Player</a>
                    </li>
                    <li>
                        <a href="https://image-recon-app.herokuapp.com">Image recognition app</a>
                    </li>
                    <li>More apps coming soon...</li>
                </ul>
            </div>
        </div>
    </div>
</div>