<nav class="navbar flexRow align-items-center">
    <div id="logo">
        <a routerLink="/Login">
            <img src="http://localhost:4200/assets/main-icon.png" alt="">
            <span>CRM</span>
        </a>
    </div>
    <ul id="navButtons" class="navbar-nav flexRow">
        <li *ngIf="LoginStatus.isLoggedIn" class="marginize-sides" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <a class="nav-link" routerLink="/MyAccount">My Account</a>
        </li>
        <li *ngIf="LoginStatus.isLoggedIn" class="marginize-sides" routerLinkActive="active">
            <i class="fa fa-users"></i>
            <a class="nav-link" routerLink="/Customers">Customers</a>
        </li>
        <li *ngIf="LoginStatus.isLoggedIn" class="marginize-sides" routerLinkActive="active">
            <i class="fa fa-handshake"></i>
            <a class="nav-link" routerLink="/ServiceProviders">Service Providers</a>
        </li>
        <li *ngIf="LoginStatus.isLoggedIn" class="marginize-sides" routerLinkActive="active">
            <!-- <i class="fa fa-handshake"></i> -->
            <i class="fa fa-list-alt"></i>
            <a class="nav-link" routerLink="/Invoices">Invoices</a>
        </li>


        <li id="login_li" *ngIf="!LoginStatus.isLoggedIn" class="marginize-sides" routerLinkActive="active">
            <a class="nav-link" routerLink="/Login">Login</a>
        </li>
        <li id="logout_li" *ngIf="LoginStatus.isLoggedIn" class="marginize-sides" routerLinkActive="active">
            <a class="nav-link" (click)="appLogout($event)">Logout</a>
        </li>
    </ul>
</nav>