.card{
    margin: 2rem;
    padding: 2rem;
    border: 1px solid gainsboro;
    box-shadow: -1px 0px 2px #c5c5c5;
}

.underline{
    border-bottom: 1px solid gainsboro;
}

.row{
    margin-bottom: 1.25rem;
}

.autoFilled{
    border-bottom: 1px solid;
}