<div class="main-content">
    <div id="pageHead">
        <h3>My Customers</h3>
    </div>
    <div appLazyLoadOnScroll (DivBottomReached)="loadMoreData($event)" class="CardsContainer flexRow flex-wrap justify-content-center">
        <div appSelectCustomerToView class="list-card flexCol" *ngFor="let customer of ShowingCustomers, let i = index" id="{{customer._id}}">
            <div class="flexItem headItem">
                <h4>{{customer.CompanyName}}</h4>
            </div>
            <div class="flexItem imgItem">
                <img appImgPathResolver src="{{customer.LogoURL}}" alt="">
            </div>
            <div class="flexItem cptnItem">
                <span>{{customer.About}}</span>
            </div>
        </div>
        <ng-container #LoadingSpinnerEntry></ng-container>
    </div>
</div>