#app-wrapper{
    height: 100vh;
}

#header{
    min-height: 8.5rem !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    background-image: linear-gradient(to right, #d35252, rgba(218, 77, 84, 0.75))
}

#body{
    padding: 4rem 5rem 1rem;
}

@keyframes spin{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}